<p id="notice"><%= notice %></p>

<p>
  <b>Course</b>
  <%= "#{@course.name}" %>
</p>

<fieldset>
<legend>Questions</legend>
<ul>
	<% @course.questions.each do |question| %>
		<li><%= link_to "#{question.title}", question %></li>
	<% end %>
</ul>
</fieldset>

<br />
<%= link_to 'Add a New Question', new_question_path(id: @course.id)%>
